.main {
  display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap: 30px;
    padding: 30px;
  .link{
    background-color: #c4e0ff;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: black;
    font-size: 1.2rem;
    transition: all 0.4s;
    &:hover{
      background-color: #9dc4f0;
    }
  }
}
