.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  div {
    cursor: pointer;
    line-height: 100px;
    height: 100px;
    font-size: 2em;
    background-color: rgb(243, 201, 201);
  }
}


