.ScrollAndFab {
  background-color: rgb(66, 66, 66);
  height: 100%;
  color: ghostwhite;
  h1 {
    margin: 0;
  }
  .list {
    overflow: auto;
    margin: 0 auto;
    background-color: rgb(104, 100, 100);
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #58aab5;
    }
    &::-webkit-scrollbar {
      width: 16px;
      background-color: #3b767e;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0px 0px 0px 5px rgb(17, 29, 41);
      background-color: #283e52;
    }
    &::-webkit-scrollbar-button:single-button {
      &:vertical {
        background-size: cover;
        &:decrement {
          background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-volume-5/48/261-128.png);
        }
        &:increment {
          background-image: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/down-button-1736736-1476299.png);
        }
        &:hover {
          background-color: rgb(178, 211, 238);
        }
      }
    }

    .item {
      padding: 8px 4px;
      display: grid;
      // height: 80px;
      grid-template: 1fr / 1fr 1fr;
      padding: 16px 4px;
      border-bottom: 1px solid lightblue;
      .svg333 {
        height: 200px;
        width: 200px;
        background-color: rgb(230, 182, 128);
        path {
          fill: rgb(171, 128, 196);
          stroke: rgb(22, 16, 19);
        }
      }
      .svg222 {
        height: 300px;
        width: 300px;
        background-color: rgb(223, 230, 128);
        path {
          fill: rgb(169, 196, 128);
          stroke: hotpink;
          // transform: translate(0px, 0px);
          // transform: translate(-16px, -40px);
          // transform: scale(1.15) translate(-32px, -30px);
          transform: translate(-22px, -23px) scale(1.3425);
          // transform-box: fill-box;
          // transform-box: view-box;
        }
      }
    }
  }
}
