.TodoDetails {
  h3 {
    font-weight: normal;
    margin: 0;
  }
  .details {
    // border: 1px solid #010138;
    margin: 16px 0 0;
    li {
      border-radius: 4px;
      background-color: rgb(83, 83, 83);
      width: 100%;
      text-align: left;
      padding: 4px;
      margin: 4px 0 0;
      span {
        // text-decoration: underline;
        border-bottom: 1px solid white;
      }
      // &:not(:last-child) {
      //   border-bottom: 1px solid rgb(0, 135, 139);
      // }
    }
  }
}
